*{
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    background: #000;
}
.container .screen {
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    transition: 1s;
}

.container:hover .screen{
    opacity: 0.1;
}
.container .screen:hover {
    opacity: 1;
    flex-grow: 5;
}

.container .screen:nth-child(1) {
    background-image: url('./images/img1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* background-color: rosybrown; */
}
.container .screen:nth-child(2) {
    background: url('./images/img2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container .screen:nth-child(3) {
    background: url('./images/img3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container .screen .content {
    position: absolute;
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: 0.5s;
}
.container .screen:hover .content {
    /* position: absolute;
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box; */
    transform: translateX(0%);
    transition-delay: 0.8s;
}
.container .screen .content h2{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: rgb(219, 0, 0);

}